#botón_enviar
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}
#ver_nombre_con_comas
{
	border: 4px solid rgb(179, 71, 201);
    padding: 10px;
	background-color: rgb(188, 131, 202);
	border-radius: 10px;
    width: 50%;
}

#ver_nombre_sin_comas
{
	border: 4px solid rgba(73, 51, 199, 0.904);
    padding: 10px;
    background-color: rgb(146, 140, 236);
	border-radius: 10px;
    width: 50%;
}